html, body {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.window {
    position: absolute;
    width: 100%;
    height: 100%;
}

.general-button {
    user-select: none;
    background-color: azure;
}
.general-button:hover {
    background-color: aquamarine;
}
.general-button-selected {
    background-color: aqua;
}
