<div app-id="array_element_value_holder" style="display: flex;">
	<div app-id="index" style="align-self: center;"></div>
	<div app-id="value" style="align-self: center;"></div>
	<div style="flex: 1;"></div>
	<div class="general-button" app-id="remove_button" style="padding: 3px; align-self: center;">Remove</div>
</div>
