<div app-id="file_category">
    <div>
        <div app-id="name_row" class="general-row" style="display: flex;">
            <img app-id="expand_icon" src="img/angle-small-down.png" style="width: 10px; height: 10px; align-self: center;"/>
            <div app-id="name" style="margin-left: 5px;"></div>
        </div>
        <div app-id="nested" style="padding-left: 30px;"></div>
    </div>
</div>
