<div style="display: flex; flex-direction: column; flex: 1;">
	<div app-id="buttons" style="display: flex; border-bottom: solid 1px; padding: 5px;"></div>
	<div style="display: flex; flex: 1;">
		<div app-id="files" style="width: 70%; padding-left: 10px; padding-top: 10px;"></div>
		<div app-id="details" style="left: 70%; flex: 1; border-left: solid 1px;"></div>
	</div>
</div>
