<div style="display: flex; flex-direction: column; flex: 1;">
	<div app-id="buttons" style="display: flex; border-bottom: solid 1px; padding: 5px;"></div>
	<div style="position: relative; flex: 1;">
		<div app-id="files" style="position: absolute; width: 70%; height: 100%;"></div>
		<div style="position: absolute; left: 70%; right: 0%; height: 100%; border-left: solid 1px; overflow: auto;">
			<div app-id="details"></div>
		</div>
	</div>
</div>
