<div app-id="property">
	<div class="general-row" style="display: flex;">
		<div app-id="access">private</div>
		<div style="margin-left: 10px;">
			<div app-id="name">New Property</div>
			<input app-id="change_name" style="display: none;"></input>
		</div>
		<div app-id="type" style="margin-left: 10px;">bool</div>
		<div app-id="arrow" style="display: none; margin-left: 10px;"> -> </div>
		<div app-id="secondary_type" style="display: none; margin-left: 10px;">bool</div>
		<div app-id="structure" style="margin-left: 10px;">single</div>
	</div>
	<div app-id="default_value"></div>
</div>
