<div app-id="property_default_value_editor">
	<div app-id="single" style="display: none;"></div>
	<div app-id="array" style="display: none;">
		<div class="general-button"></div>
		<ol app-id="elements">
			<li>asd</li>
			<li>asd</li>
			<li>asd</li>
		</ol>
	</div>
</div>
