<div app-id="property_default_value">
    <div app-id="name_row" class="general-row" style="display: flex;">
        <img app-id="expand_icon" src="img/angle-small-down.png" style="width: 10px; height: 10px; align-self: center;"/>
        <div app-id="name" style="margin-left: 5px;">Default Value</div>
    </div>
    <div app-id="nested_root" style="padding-left: 30px;">
		<div>
			<label>Category</label>
			<input app-id="category" />
		</div>
		<div app-id="default_value"></div>
	</div>
</div>
