<div app-id="property_default_value_editor">
	<div app-id="single" style="display: none;"></div>
	<div app-id="array" style="display: none;">
		<div style="display: flex;">
			<div app-id="array_add_button" class="general-button" style="padding: 3px;">Add</div>
		</div>
		<div app-id="array_elements"></div>
	</div>
</div>
