<div style="display: flex; flex-direction: column; width: 100%; height: 100%;">
	<div style="flex: 1;"></div>
	<div style="display: flex;">
		<div style="flex: 1;"></div>
		<div class="modal-popup" style="display: flex; position: relative; width: 400px; height: 600px; border: solid; border-width: 1px;">
			<div style="display: flex; flex-direction: column; flex: 1; padding: 5px;">
				<div app-id="header"></div>
				<div app-id="selection_menu" style="flex: 1;"></div>
			</div>
		</div>
		<div style="flex: 1;"></div>
	</div>
	<div style="flex: 1;"></div>
</div>
