<div style="display: flex; flex-direction: column; flex: 1;">
	<div app-id="buttons" style="display: flex; border-bottom: solid 1px; padding: 5px;"></div>
	<div style="position: relative; flex: 1;">
		<div app-id="properties" style="position: absolute; width: 100%; height: 100%; overflow: auto;"></div>
	</div>
</div>
