<div app-id="value_editor">
	<label app-id="label">Value:</label>
	<input app-id="bool" type="checkbox" style="display: none;" />
	<input app-id="int" type="number" style="display: none;" />
	<input app-id="float" type="number" style="display: none;" />
	<input app-id="string" type="string" style="display: none;" />
</div>
